<a href="https://colab.research.google.com/github/lfa-systems/Telecom_X/blob/main/TelecomX_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracÃ£o

In [88]:
import pandas as pd

In [89]:
url = 'https://raw.githubusercontent.com/lfa-systems/Telecom_X/refs/heads/main/dados/TelecomX_Data.json'

In [90]:
dados = pd.read_json(url)

In [91]:
dados.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [92]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [93]:
colunas = list(dados.columns)
colunas

['customerID', 'Churn', 'customer', 'phone', 'internet', 'account']

In [94]:
for nome_coluna in colunas[2:]:
  globals()[nome_coluna] = pd.json_normalize(dados[nome_coluna])

In [95]:
print('Customer\n', customer)
print('\nPhone\n', phone)
print('\nInternet\n', internet)
print('\nAccount\n', account)

Customer
       gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

Phone
      PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

Internet
      InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport  \
0                DSL             No          Yes               No         Yes
1                DSL             No           No               No          No
2        Fiber optic             No           No              Yes          No
3        Fiber optic             No          Yes              Yes          No
4        Fiber optic             No           No               No         Yes
...              ...            ...          ...              ...         ...
7262             DSL            Yes           No               No         Yes
7263     Fiber optic             No           No               No          No
7264             DSL             No          Yes               No          No
7265             DSL            Yes           No              Yes         Yes
7266             DSL            Yes          Yes              Yes          No

     StreamingTV StreamingMovies
0            Yes              No
1             No             Yes
2             No              No
3            Yes             Yes
4            Yes              No
...          ...             ...
7262          No              No
7263          No             Yes
7264          No              No
7265          No             Yes
7266         Yes             Yes

[7267 rows x 7 columns]

Account
             Contract PaperlessBilling     PaymentMethod  Charges.Monthly  \
0           One year              Yes      Mailed check            65.60
1     Month-to-month               No      Mailed check            59.90
2     Month-to-month              Yes  Electronic check            73.90
3     Month-to-month              Yes  Electronic check            98.00
4     Month-to-month              Yes      Mailed check            83.90
...              ...              ...               ...              ...
7262        One year               No      Mailed check            55.15
7263  Month-to-month              Yes  Electronic check            85.10
7264  Month-to-month              Yes      Mailed check            50.30
7265        Two year               No      Mailed check            67.85
7266        Two year               No  Electronic check            59.00

     Charges.Total
0            593.3
1            542.4
2           280.85
3          1237.85
4            267.4
...            ...
7262         742.9
7263        1873.7
7264         92.75
7265       4627.65
7266        3707.6

[7267 rows x 5 columns]

In [96]:
def strbool(v):
  '''
  FunÃ§Ã£o para converter string para booleano
  Por: Luciano Azevedo
  Entrada: String
  SaÃ­da: Booleano
  '''
  return v.lower() in ("yes", "true", "t", "1")

In [106]:
for nome_coluna in colunas[2:]:
    xcolunas = list(globals()[nome_coluna].columns)
    print(f'{nome_coluna}')
    for coluna in xcolunas:
        print(f'{coluna}\n',globals()[nome_coluna][coluna].unique())

customer
gender
 ['Female' 'Male']
SeniorCitizen
 [0 1]
Partner
 ['Yes' 'No']
Dependents
 ['Yes' 'No']
tenure
 [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
phone
PhoneService
 ['Yes' 'No']
MultipleLines
 ['No' 'Yes' 'No phone service']
internet
InternetService
 ['DSL' 'Fiber optic' 'No']
OnlineSecurity
 ['No' 'Yes' 'No internet service']
OnlineBackup
 ['Yes' 'No' 'No internet service']
DeviceProtection
 ['No' 'Yes' 'No internet service']
TechSupport
 ['Yes' 'No' 'No internet service']
StreamingTV
 ['Yes' 'No' 'No internet service']
StreamingMovies
 ['No' 'Yes' 'No internet service']
account
Contract
 ['One year' 'Month-to-month' 'Two year']
PaperlessBilling
 ['Yes' 'No']
PaymentMethod
 ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly
 [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total
 ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

#ðŸ”§ TransformaÃ§Ã£o

#ðŸ“Š Carga e anÃ¡lise

#ðŸ“„Relatorio Final